# PyCharm
.idea/

# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.venv/
env/

# macOS
.DS_Store

# Environment variables / secrets
.env
.env.*

# Jupyter
.ipynb_checkpoints/

# Test / coverage
.pytest_cache/
.coverage
htmlcov/

# Logs
*.log

# Build artifacts
build/
dist/
*.egg-info/

# VS Code (if you ever use it)
.vscode/